{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TastefulRecipes - Home </title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <style>
    </style>
</head>
<body>
    {% include "./blocks/header.html" %}
    <div class="home-container">
        <div id="recipes">
                {% for r in recipes %}
                    <div class="recipe-card" data-url="{% url 'recipe-details' r.recipe_id %}">
                        <img src="{{ r.images.url }}" alt="Recipe Image">
                        <div style="height: 100%; width: 1px; background-color: black; margin: 0 10px;"></div>
                        <div>
                            <h2>{{ r.name }}</h2>
                            <p>⏱︎ {{ r.preparation_time }} mins</p>
                            <h3>Created By: {{ r.createdBy.username }}</h3>
                            <p class="description">{{ r.description }}</p>
                            <br>
                            <button class="cta" onclick="location.href='{% url 'recipe-details' r.recipe_id %}'">
                              <span class="hover-underline-animation"> Details </span>
                              <svg
                                id="arrow-horizontal"
                                xmlns="http://www.w3.org/2000/svg"
                                width="30"
                                height="10"
                                viewBox="0 0 46 16"
                              >
                                <path
                                  id="Path_10"
                                  data-name="Path 10"
                                  d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
                                  transform="translate(30)"
                                ></path>
                              </svg>
                            </button>
                        </div>
                    </div>
            {% endfor %}
        </div>
        <button class="add-recipe-button form-button" onclick="location.href='{% url 'add-recipe' %}'">
            <div style="aspect-ratio: 1 / 1; height: auto; width: auto;">+</div>
        </button>
    </div>
<script>
    // Add click event listener to each recipe card
    const recipeCards = document.querySelectorAll('.recipe-card');
    recipeCards.forEach(card => {
        card.addEventListener('click', () => {
            if(window.innerWidth < 600){
                window.location.href = card.getAttribute('data-url');
            }
        });
    });
</script>
</body>
</html>