{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TastefulRecipes - {{ recipe.title }}</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
<div style="margin-left: 12vw; margin-right: 12vw; margin-top: 5vh; height: fit-content; display: flex; flex-direction: column;">
    {% include "./blocks/header.html" %}
    <img src=" {{ recipe.images.url }} " alt="Recipe Image" style="max-height: 35vh; height: auto; align-self: center;">
    <h1>Name: {{ recipe.name }}</h1>
    <h2>Create By: {{ user.username }}</h2>
    <p>Description:<br>{{ recipe.description }}</p>
    <p>Preparation time: {{ recipe.preparation_time }} mins</p>
    <p>Ingredients:<br> {{ recipe.ingredients }}</p>
    <p>Instructions:<br> {{ recipe.instructions }}</p>
</div>
</body>
</html>